<div class="wrapper-normal">
    <div class="header-home">
        <div>
            <img class="selfie" alt="Mona" src="{{ site.url }}/images/head22.jpg">
        </div>
        <div class="social-links">
            <a class="social" href="https://www.linkedin.com/in/ninda-khoirunnisa-136225150/">
                <i class="fa fa-linkedin">
                </i>
            </a>
            <a class="social" href="mailto:nindakhoirunnisa.nk@gmail.com">
                <i class="fa fa-envelope">
                </i>
            </a>
            <a class="social" href="http://instagram.com/nnskhrnnd">
                <i class="fa fa-instagram">
                </i>
            </a>
            <!-- <a class="social" href="http://medium.com/@nindakhrnns">
                <i class="fa fa-medium">
                </i>
            </a> -->
        </div>
        <p class="description">Data / NLP / Viz </p>
    </div>

</div>